@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

.header {
  background-color: #DAAD71;
  }

.header h1 {
  font-family: Roboto, Helvetica, sans-serif;
  color: #1D3157;
  text-align: center;
}

.header img {
  width: 150px;
}

h2 {
  font-family: Roboto, Helvetica, sans-serif;
  text-align: left;
}

nav {
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  background-color: #7DACC0;
}

nav a {
  color: #1D3157;
  text-decoration: none;
  padding: .5rem;
  margin: .5rem;
}

nav a:hover {
  text-decoration: underline;
}

.image {
  width: 60%;
}

img {
  width: 50%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  margin: .5rem;
}

footer {
  background-color: #2A7ABE;
  padding: 4px;
}
